<head>
  <title>Steal WOIM</title>
  <link rel='stylesheet' type='text/css' href='/static/bootstrap/css/bootstrap.min.css'>
  <style type='text/css'>
    #form {
      width: 460px;
    }
    ul.track-list {
      list-style-type: none;
      padding: 0;
      margin: 0;
      width: 460px;
    }
    ul.track-list li {
      background: #444444;
      border: 1px #555555 solid;
      list-style-type: none;
      color: #ffffff;
      padding: 5px 15px;
      cursor: pointer;
    }
    ul.track-list li:hover {
      background: #45ADA8;
    }
    ul.track-list li.playing {
      background: #acacac;
    }
  </style>
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/bootstrap/bootstrap.min.js"></script>
  <script src="/static/audiojs/audio.min.js"></script>
  <script src="/static/js/ejs.min.js"></script>
  <script>
    var audioPlayer;
    var audioTracks;
    var currentTrack;
  
    $(document).ready(function() {
      audiojs.events.ready(function() {
        var as = audiojs.createAll({
          trackEnded: function() {
            playNextTrack();
          }
        });
        audioPlayer = as[0];
        loadAlbum('http://www.woim.net/album/3956/christmas-songs-2010.html');
      });
    });
    
    function loadAlbum(url) {
      var encodedUrl = encodeURIComponent(url);
      $.post('/getTracks?url=' + encodedUrl, function(data) {
          audioTracks = data;
          html = new EJS({ url: '/static/templates/track_list.ejs' }).render({
            tracks: audioTracks
          });
          $('#track-list').html(html);
          
          $('#track-list li').click(function() {
            currentTrack = $('#track-list li').index($(this)) - 1;
            playNextTrack();
          });
          
          currentTrack = -1;
          playNextTrack();
        }
      );
    }
    
    function playNextTrack() {
      currentTrack++;
      if (currentTrack >= audioTracks.length) {
        return;
      }
      audioPlayer.load(audioTracks[currentTrack][0]);
      audioPlayer.play();
      $('#track-list li').removeClass('playing').eq(currentTrack).addClass('playing');
    }
    
    function submitHandler() {
      var url = $("#album-url").val();
      loadAlbum(url);
      return false;
    };
  </script>
</head>
<body>
  <div class='well'>
    <form id='form' role='form' onsubmit='return submitHandler();'>
      <div class='form-group'>
        <label for='album-url'>Enter WOIM album url:</label>
        <input id='album-url' class='form-control' type='text' name='url' 
          placeholder='For example: http://www.woim.net/album/106/piano-in-the-garden.html'>
      </div>
      <p>
        <input type='submit' value='Load' class='btn btn-primary'>
      </pdist>
    </form>
  
    <audio preload></audio>
  
    <ul id="track-list" class="track-list"></ul>
  </div>
  
  <footer>
    <p style='padding: 0 20px'>
      <i>Copyright 2013 &copy; Smart Cows</i>
    </p>
  </footer>
</body>