<head>
  <title>Steal WOIM</title>
  
  <link rel='stylesheet' type='text/css' href='/static/bootstrap/css/bootstrap.min.css'>
  <link rel='stylesheet' type='text/css' href='/static/css/index.css'>
  
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/bootstrap/js/bootstrap.min.js"></script>
  <script src="/static/audiojs/audio.min.js"></script>
  <script src="/static/js/ejs.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src='/static/js/index.js'></script>
</head>
<body>
  <div class='well'>
    <div class='row'>
      <div class='col-md-4'>
        <p id='user-viewing'>1 user</p>
    
        <form id='form' role='form' onsubmit='return submitHandler();'>
          <div class='form-group'>
            <label for='album-url'>Enter WOIM album url:</label>
            <input id='album-url' class='form-control' type='text' name='url' 
              placeholder='For example: http://www.woim.net/album/106/piano-in-the-garden.html'>
          </div>
          <p>
            <input type='submit' value='Load' class='btn btn-primary'>
          </pdist>
        </form>
  
        <audio preload></audio>
  
        <ul id="track-list" class="track-list"></ul>
      </div>
      
      <div class='col-md-offset-1 col-md-4'>
        <h2>Random Albums</h2>
        <div id="random-albums"></div>
      </div>
    </div>
    
  </div>
  
  <footer>
    <p style='padding: 0 20px'>
      <i>Copyright 2013 &copy; Smart Cows</i>
    </p>
  </footer>
</body>